.row {
  border: 1px solid #ccc;
  border-radius: 10px;
}

.left-po {
  display: flex;
  flex-direction: column;
  /* border-right: 2px solid #ccc; */
}

.right-po {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.image {
  height: 120px;
  width: 120px;
}
.image img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}
