<nav class="navbar navbar-expand-sm  navbar-light bg-light mb-3">
    <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/me">Profile</a>
                </li>
               
                   <% if(isAuthenticated){ %>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    
                    <% } %>  
                   
             
                
            </ul>
            
        </div>
          
    </div>

</nav>